@{
    ViewData["Title"] = "Login";
}
<form method="post" action="/Home/LoginPage">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card"  id="LoginCard" style="width: 18rem;">
                <h5 class="card-header text-center border-bottom text-light border-warning border-3 font-macca">Login</h5>
            <div class="card-body text-center">
                <label class="font-macca text-light">Username</label>
                <input type="text" class="form-control border border-warning mb-3 border-3 input-custom" name="username" value="" />
                <label class="font-macca text-light">Password</label>
                <input type="text" class="form-control border border-warning mb-3 border-3 input-custom" name="password" value="" />
                <input class="btn btn-grad mx-auto border border-warning border-3" type="submit" value="Login">
            </div>
        </div>
    </div>
</div>
</form>

