@{
    ViewData["Title"] = "Testing Page";
}
<h1>@ViewData["Title"]</h1>

<form method="post" action="/Home/RegisterPage">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card border-info"  id="LoginCard" style="width: 18rem;">
                <h5 class="card-header text-center border-bottom text-light border-dark border-3">Register</h5>
            <div class="card-body">
                <input type="text" name="username" value="" />
                <input type="text" name="password" value="" />
                <input class="btn btn-grad mx-auto border border-info border-3" type="submit" value="Register">
            </div>
        </div>
    </div>
</div>
</form>
